<%# Default local values %>
<% max_depth = local_assigns.fetch(:max_depth, 2) %>
<% max_len = local_assigns.fetch(:max_len, 10) %>
<% target_comment = local_assigns.fetch(:target_comment, nil) %>

<%# hash_until(hash, max_len, target_comment) %>

<%# (max_len > 0 ? Hash[Array(hash)[0..max_len-1]] : hash).each_pair do |cmt,child| %>
<% hash_until(hash, max_len, target_comment).each_pair do |cmt, child| %>
  <ul id="cmt_<%= cmt.id %>">
    <li>
      <%= render partial: "listing/votes", locals: { cmt: cmt } %>

      <div class="user">
        <%= cmt.username_display %>
        <span class="date">
          <%= cmt.created_at %>
        </span>
      </div>
      <% if user_signed_in? %>
        <div class="actions">
          <%= link_to "reply", "#", onclick: "cmt_show_and_ckedify(#{cmt.id}, 1); return false;", class: "reply" %>
        </div>
      <% end %>

      <div class="comment"> <%= cmt.comment.html_safe %> </div>

      <% if user_signed_in? %>
        <%= render partial: "listing/new_comment", locals: { comment: Comment.new, politician: career.politician, c: career, cmt: cmt, visible: false } %>
      <% end %>

      <div style="clear: left;"></div>
      <% if !child.blank? %>
        <% if max_depth-1 > 0 || max_depth < 0 %>
          <%= render partial: "listing/comments", locals: { career: career, hash: child, max_depth: max_depth - 1, max_len: max_len } %>
        <% else %>
          <%= link_to "load more replies (#{pluralize(child.length, 'reply', 'replies')})", comment_path(cmt.id), remote: true %>
        <% end %>
      <% end %>

    </li>
  </ul>
<% end %>

<% if !max_len.nil? && Hash[Array(hash)[0..max_len-1]].length < hash.length %>
  <%= link_to "load more comments (#{pluralize(hash.length - Hash[Array(hash)[0..max_len-1]].length, "comment")})", comment_path(id: 0, career_id: career.id), remote: true %>

<% end %>