<%# Default local values %>
<% max_depth = local_assigns.fetch(:max_depth, 2) %>
<% max_len = local_assigns.fetch(:max_len, 10) %>
<% target_comment = local_assigns.fetch(:target_comment, nil) %>
<% hide_lowscores = local_assigns.fetch(:hide_lowscores, true) %>

<% ranged_hash = hash_until(hash, max_len, target_comment) %>

<% ranged_hash.each_pair do |cmt, child| %>

  <% if hide_lowscores && is_score_too_low(cmt) %>
    <ul id="cmt_<%= cmt.id %>" class="lowscore">
      <li>
        <span class="user"> (<%= cmt.username_display %>) </span>
        hidden due to too many downvotes
        <%= link_to "show", comment_path(cmt.id, hide_lowscores: 0), remote: true %>
      </li>
    </ul>
  <% else %>

  <ul id="cmt_<%= cmt.id %>">
    <li>
      <%= render partial: "listing/votes", locals: { cmt: cmt } %>

      <div class="user">
        <%= cmt.user.nil? ? cmt.username_display : link_to(cmt.username_display, users_profile_path(cmt.user.id)) %> (<%= cmt.user.cached_score if !cmt.user.nil? %>)
        <span class="date">
          <%= cmt.created_at_pretty %>
        </span>
      </div>
      <% if user_signed_in? %>
        <div class="actions">
          <%= link_to "reply", "#", onclick: "cmt_show_and_ckedify(#{cmt.id}, 1); return false;", class: "reply" %>
        </div>
      <% end %>

      <% if !cmt.pol_image.nil? %>
        <div class="photos"><%= cl_image_tag cmt.pol_image.file_url(:medium) %></div>
      <% end %>
      <div class="comment"> <%= cmt.comment.html_safe %> </div>

      <% if user_signed_in? %>
        <%= render partial: "listing/new_comment", locals: { comment: Comment.new, politician: career.politician, c: career, cmt: cmt, visible: false } %>
      <% end %>

      <div style="clear: left;"></div>
      <% if !child.blank? %>
        <% if max_depth-1 > 0 || max_depth < 0 %>
          <%= render partial: "listing/comments", locals: { career: career, hash: child, max_depth: max_depth - 1, max_len: max_len } %>
        <% else %>
          <%= link_to "load more replies (#{pluralize(child.length, 'reply', 'replies')})", comment_path(cmt.id), remote: true %>
        <% end %>
      <% end %>

    </li>
  </ul>
  <% end %>

<% end %>

<% if !max_len.nil? && ranged_hash.length < hash.length %>
  <%= link_to "load more comments (#{pluralize(hash.length - ranged_hash.length, "comment")})", comment_path(id: 0, career_id: career.id), remote: true %>

<% end %>