<div id="new_cmt_<%= cmt ? cmt.id : 'new' %>" class="div_form" style="<%= 'display: none;' if !visible %>">
  <div class="title"> Post Comment </div>

  <%= form_for [comment,PolImage.new], url: comment_index_path, html: { id: "new_comment_#{ cmt ? cmt.id : '' }", multipart: true } do |f| %>
    <div class="comment_errors"></div>

    <div class="mini_div_form">
      <div class="subtitle">Add Photo</div>
      <%= f.hidden_field :file_cache %>
      <div class="field_line">
        <%= f.label(:file, 'Upload from file') %>
        <%= f.file_field :file %>
      </div>
      <div class="field_line">
        <%= f.label(:remote_file_url, 'Or from URL') %>
        <%= f.text_field :remote_file_url %>
      </div>
    </div>


    <%= hidden_field_tag :career_id, c.id %>
    <% if cmt %>
      <%= hidden_field_tag :parent_comment_id, cmt.id %>
    <% end %>

    <div class="field_line">
      <%= f.text_area :comment, cols: 80, rows: 8, id: "txt_comment#{ cmt ? "_" + cmt.id.to_s : '' }", class: "comment_body #{'ckeditor' if visible}" %>

      <%# f.cktext_area :comment, class: "comment_body", id: "txt_comment#{ cmt ? "_" + cmt.id.to_s : '' }" %>
    </div>

    <div class="field_line">
      <%= f.submit "Post" %>
    </div>
  <% end %>
</div>
