
<% if false && defined?(header_label) %>
  <h3 class="tab-header">
    <% if defined?(header_icon) %>
      <i class="fa <%= header_icon %>"></i>
    <% end %>
    <%= header_label %>
<%
=begin %>
     <span class="glyphicon glyphicon-plus"></span> <%= defined?(header_label) ? header_label : "Post Comment" %>
<%
=end %>
  </h3>
<% end %>

<div id="new_cmt_<%= cmt ? cmt.id : 'new' %>" class="cmt-form" style="<%= 'display: none;' if !visible %>">
  <%= form_for [comment,PolImage.new], url: comment_index_path, html: { id: "new_comment_#{ cmt ? cmt.id : '' }", multipart: true, style: "margin-top: 30px;" } do |f| %>
    <div class="comment_errors"></div>

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#link<%= cmt ? cmt.id : 'new' %>" data-toggle="tab">
          <% if defined?(header_icon) %> <i class="fa <%= header_icon %>"></i> <% end %>
          <%= (defined?(header_label) ? header_label : "Create post").titleize %> using link
        </a>
      </li>
      <li>
        <a href="#photo<%= cmt ? cmt.id : 'new' %>" data-toggle="tab">
          <% if defined?(header_icon) %> <i class="fa <%= header_icon %>"></i> <% end %>
          <%= (defined?(header_label) ? header_label : "Create post").titleize %> using photo
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active form-horizontal" id="link<%= cmt ? cmt.id : 'new' %>">
        <div class="form-group">
          <label for="link_url<%= cmt ? "_" + cmt.id.to_s : '' %>" class="control-label col-sm-2">Link</label>
          <div class="col-sm-10">
            <%= text_field_tag :link_url, '', id: "link_url#{ cmt ? "_" + cmt.id.to_s : '' }", class: "form-control", placeholder: "Paste the url here" %>
          </div>
        </div>
        <div id="div_prev<%= cmt ? "_" + cmt.id.to_s : '' %>" class="form-group container hidden"></div>

          <script type='text/javascript'>
            function lp<%= cmt ? "_" + cmt.id.to_s : '' %>(elem) {
              $(elem).addClass('loading');
              var div = $("#div_prev<%= cmt ? "_" + cmt.id.to_s : '' %>");
              div.removeClass('hidden');
              div.html('<span>Loading...</span>');
              // parse external url
              var url = '<%= CGI.unescape util_httpget_path %>?u=' + $(elem).val();
              $.get(url, function(data) {
                <%# Create preview using json object %>
                <%# [images, title, desc, link] %>

                div.html("<div class='col-sm-2'></div>");
                if ( data.images.length && data.images[0].length ) {
                  div.append("<div class='col-sm-2'><img src='" + data.images[0] + "' class='img-responsive' /></div>");
                } else {
                  div.append("<div class='col-sm-2'></div>");
                }
                div.append("<div class='col-sm-8'><h3>" + data.title + "</h3><p>" + data.desc + "<br/><a class='link_url' href='" + data.link + "'>read more</a></p>");

                $("#cmt_title<%= cmt ? "_" + cmt.id.to_s : '' %>").val("Link - " + data.title);

                $(elem).removeClass('loading');

              }).fail(function() {
                div.html('<div>Failed to load, please check your URL</div>');
                $(elem).removeClass('loading');
              });
            }

            bind_on_keyup("#link_url<%= cmt ? "_" + cmt.id.to_s : '' %>", lp<%= cmt ? "_" + cmt.id.to_s : '' %>);

          </script>
      </div>
      <div class="tab-pane" id="photo<%= cmt ? cmt.id : 'new' %>">
        <%= f.hidden_field :file_cache %>
        <%= f.file_field :file %>
      </div>
    </div>


    <%= hidden_field_tag :career_id, c.id %>
    <% if cmt %>
      <%= hidden_field_tag :parent_comment_id, cmt.id %>
    <% end %>

    <div class="clearfix"> </div>

    <div class="form-horizontal cmt-form-body">
      <div class="form-group">
        <label for="cmt_title" class="control-label col-sm-2">Title</label>
        <div class="col-sm-10"><%= text_field_tag :cmt_title, '', id: "cmt_title#{ cmt ? "_" + cmt.id.to_s : '' }", class: "form-control", placeholder: "Title" %></div>
      </div>

      <div class="form-group">
        <label for="cmt_title" class="control-label col-sm-2">Comment</label>
        <div class="col-sm-10">
          <%= f.text_area :comment, cols: 80, rows: 8, id: "txt_comment#{ cmt ? "_" + cmt.id.to_s : '' }", class: "comment_body #{'ph_ckeditor' if visible}" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <%= f.submit "Post" %>
        </div>
      </div>
    </div>


  <% end %>
</div>
