<%
  # Required variables:
  # count - total number of rows
  # page_size - page size
  # page_number - current page

  # Set variables
  last_page = (Float(count.nil? ? 0 : count) / page_size).ceil
%>

<% if last_page > 1 %>
<ul class="pagination">
  <% if page_number > 1 %>
    <li> <a href="?page=<%= page_number - 1%>" rel="prev">&laquo;</a> </li>
  <% else %>
    <li class="disabled"> <a rel="prev">&laquo;</a> </li>
  <% end %>

<% (1..last_page).each do |i| %>
  <% if page_number == i %>
    <li class='active'> <a href='#'><%= i %> </a></li>
  <% else %>
    <li> <a href="?page=<%= i %>"><%= i %></a> </li>
  <% end %>
<% end %>

<% if page_number >= last_page %>
  <li class="disabled"> <a rel="prev">&raquo;</a> </li>
<% else %>
  <li> <a href="?page=<%= page_number + 1%>" rel="prev">&raquo;</a> </li>
<% end %>

</ul>
<% end %>