
<%= title "All Politicians" %>

<%= form_tag listing_index_path, :method => 'get', :id => "listing_search" do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>

  <div class="div_form">
    <div class="title"> Search </div>
    <div class="field_line">
      <%= label_tag(:search, 'Keyword') %>
      <%= text_field_tag :search, params[:search] %>
    </div>
    <div class="field_line">
      <%= label(:province, :id, "Location") %>
      <%= select("province", "id", @provinces, { include_blank: "-- select province --", selected: @province_id } ) %>
      <%= select("municipal", "id", @municipals ? @municipals.collect {|p| [p.name, p.id]} : {}, { include_blank: "-- select municipal --", selected: @municipal_id } ) %>

      <script type="text/javascript">
        $('#province_id').change(function() {
          var url = '<%= CGI.unescape util_municipal_url("{id}") %>'.replace('{id}',$(this).val());
          $.post(url, function(data) {
            var sub = $('#municipal_id').find('option').remove().end().append('<option value="">-- select municipal --</option>');
            $.each( data, function(i, item) {
              sub.append('<option value="' + item.id + '">' + item.name + '</option>');
            });
          });
        });
      </script>
    </div>

    <div class="field_line">
      <%= submit_tag "Search", :name => nil %>
    </div>
  </div>
<% end %>

<%= paginate @careers %>
<table class="tbl_listing" style="width: 100%;">
  <tr>
    <th><%= sortable "num_comments", "# Comments" %></th>
    <th><%= sortable "title_heirarchy", "Title" %></th>
    <th><%= sortable "politicians.first_name", "Name" %></th>
    <th><%= sortable "locations.denorm_name", "Location" %></th>
    <th></th>
  </tr>
  <% @careers_with_comments.each do |c| %>
  <tr>
    <td align='center'> <%= c.num_comments %> </td>
    <td align='center'> <%= c.title %> </td>
    <td> <%= c.politician_first_name.capitalize %> <%= c.politician_nickname.blank? ? "" : "'#{c.politician_nickname.upcase}'" %> <%= c.politician_last_name.capitalize %> </td>
    <td align='center'> <%= c.location_denorm_name %> </td>
    <td> <%= link_to 'Details', listing_path(c.politician_id) %></td>
  </tr>
  <% end %>
</table>
<%= paginate @careers %>





