<%= title (@politician.first_name + " " + @politician.last_name).titleize %>

<div class="career_detail pretty_box">

  <div class="body">
<% @careers.each do |c| %>
    <div class="one_line">
      <div class="subtitle"> <%= c.title.titleize %> </div>
      <div class="location"> <%= c.location.denorm_name.titleize %> </div>

      <div class="photos">
        <div class="subtitle">Photos</div>

        <%= render partial: "photos", locals: { c: c } %>

        <% if user_signed_in? %>
          <div id="new_image" class="div_form" style="width: 400px;">
            <div class="title">Add Photo</div>
            <div id="new_image_errors"></div>
            <%= form_for @new_image, url: listing_image_create_path(career_id: c.id), html: {multipart: true} do |f| %>
              <%= f.hidden_field :file_cache %>

              <div class="field_line">
                <%= f.label(:file, 'Upload from file') %>
                <%= f.file_field :file %>
              </div>
              <div class="field_line">
                <%= f.label(:remote_file_url, 'Or from URL') %>
                <%= f.text_field :remote_file_url %>
              </div>
              <div class="field_line">
                <%= f.submit "Submit" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      
    </div>

    <div class="comments">
      <div class="subtitle"> Comments </div>
      <div id="cmt_<%= c.id %>">
        <%= render partial: "comments", locals: { career: c, hash: c.comment_thread } %>
      </div>

      <% if user_signed_in? %>
        <%= render partial: "new_comment", locals: { comment: @comment, politician: @politician, c: c, cmt: nil, visible: true } %>
      <% end %>
    </div>
<% end %>
  </div>
</div>






