<%= title (@careers.first.title + " - " + @politician.full_name.titleize) %>

<div class="career_detail pretty_box">

  <div class="body">
<% @careers.each do |c| %>

    <div class="one_line">
      <div class="subtitle"> <%= c.title.titleize %> </div>
      <div class="location"> <%= c.location.denorm_name.titleize %> </div>
    </div>

    <div class="comments">
      <div class="subtitle"> Posts </div>
      <div id="all_cmt_<%= c.id %>">
        <%= render partial: "comments", locals: { career: c, hash: c.posts } %>
      </div>

      <% if user_signed_in? %>
        <%= render partial: "new_comment", locals: { comment: @comment, politician: @politician, c: c, cmt: nil, visible: true } %>
      <% end %>
    </div>
<% end %>
  </div>
</div>






