<% title (@careers.first.title + " - " + @politician.full_name.titleize) %>


<div class="career_detail pretty_box">

  <div class="container-fluid">
<% @careers.each do |c| %>
    <ol class="breadcrumb">
      <li><%= c.title.titleize %></li>
      <li><%= c.location.denorm_name.titleize %></li>
    </ol>


    <div class="container">
      <h2 class="page-header">Posts</h2>
      <div id="all_cmt_<%= c.id %>">

        <% if !@target_cmt_id.blank? %>
          <div class="notif_header">
            Showing single post
            <%= link_to "show other posts", listing_path(@politician.id) %>
          </div>
        <% end %>

        <%= render partial: "comments", locals: { career: c, posts: c.posts(target_cmt_id = @target_cmt_id, page_number = @page) } %>
      </div>

      <% if user_signed_in? %>
        <%= render partial: "new_comment", locals: { comment: @comment, politician: @politician, c: c, cmt: nil, visible: true } %>
      <% end %>
    </div>
<% end %>
  </div>
</div>






