<% title (@career.title.titleize + " - " + @politician.full_name.titleize) %>


  <ol class="breadcrumb">
    <li><%= @career.title.titleize %></li>
    <li><%= @career.location.denorm_name.titleize %></li>
  </ol>


  <div class="container">
    <h2 class="page-header">Posts</h2>
    <div id="all_cmt_<%= @career.id %>" class="career row">

      <% if !@target_cmt_id.blank? %>
        <div class="notif_header">
          Showing single post
          <%= link_to "show other posts", listing_path(@politician.id) %>
        </div>
      <% end %>

      <% @career.comments.posts.order("cached_votes_score desc").each do |cmt| %>

        <% if is_score_too_low(cmt) %>
<%
=begin
%>
            <ul id="cmt_<%= cmt.id %>" class="lowscore">
              <li>
                <span class="user"> (<%= cmt.username_display %>) </span>
                hidden due to too many downvotes
                <%= link_to "show", comment_path(cmt.id, hide_lowscores: 0), remote: true %>
              </li>
            </ul>
<%
=end %>
          <% else %>

            <div id="cmt_<%= cmt.id %>" class="col-md-3 col-sm-6 post-box">
              <div class="post-box-img" href="<%= listing_post_url(@career.politician.id, cmt.id) %>" style="background-image: url('<%= !cmt.pol_image.nil? ? cmt.pol_image.file_url(:medium) : ((!cmt.external_link.blank? && !cmt.external_link.image_url.blank?) ? cmt.external_link.image_url : ""  ) %>');">
                <%= render partial: "listing/votes", locals: { cmt: cmt } %>
              </div>
              <div class="subbox">
                  <%= link_to trunc(cmt.pretty_title, 40).try(:html_safe), listing_post_url(@career.politician.id, cmt.id) %>
                  <br/>
                  <small>
                    by <%= cmt.user.nil? ? cmt.username_display : link_to(cmt.username_display, users_profile_path(cmt.user.id)) %>
                    <br/>
                    <a href="<%= listing_post_url(cmt.commentable.politician.id, cmt.id) %>" title="<%= pluralize cmt.children.count, "comment" %>">
                      <span class="glyphicon glyphicon-comment"></span> <%= cmt.children.count %>
                    </a>
                    <div class="fb-share-button" data-href="<%= listing_post_url(@career.politician.id, cmt.id) %>" data-type="icon" title="Post on Facebook"></div>
                  </small>
              </div>
              
            </div>
          <% end %>
      <% end %>

      <%# render partial: "comments", locals: { career: c, posts: @career.posts(target_cmt_id = @target_cmt_id, page_number = @page) } %>
    </div>

    <% if user_signed_in? %>
      <%= render partial: "new_comment", locals: { comment: @comment, politician: @politician, c: @career, cmt: nil, visible: true, header_label: "Submit Post" } %>
    <% end %>
  </div>

