<%= title @politician.first_name + " " + @politician.last_name %>

<div class="career_detail">
<% @careers.each do |c| %>

  <div class="title"> <%= c.title %> </div>
  <div class="location"> <%= c.location.denorm_name %> </div>

  <div id="all_comments" class="comments">
    <%= render partial: "comments", locals: { career: c, hash: c.comment_thread } %>
  </div>

  <% if user_signed_in? %>
    <%= render partial: "new_comment", locals: { comment: @comment, politician: @politician, c: c, cmt: nil, visible: true } %>
  <% end %>

<% end %>






