<% title "Home" %>

<div class="tabs">
<% unless @tag_posts.empty? %>
  <h3 class="tab-header"><i class="fa fa-tags"></i> Tagged</h3>
  <div class="row tab-content">
    <% @tag_posts.first(10).each do |loc| %>
      <% loc.careers.first(5).each do |c| %>
      <% c.comments.first(2).each do |cmt| %>

      <div id="cmt_<%= cmt.id %>" class="col-md-3 col-sm-6 post-box">
        <div href="<%= listing_post_url(c.politician.id, cmt.id) %>" <%= cmt.style_defaults('post-box-img').try(:html_safe) %>>
          <%= render partial: "listing/votes", locals: { cmt: cmt } %>
        </div>
        <ol class="breadcrumb">
          <li><a href="<%= listing_path(c.politician.id) %>"><%= c.politician_display.titleize %></a></li>
          <li><%= c.title.titleize %></li>
          <% unless loc.name.upcase == 'NATIONWIDE' %>
          <li><%= loc.denorm_name.titleize %></li>
          <% end %>
        </ol>
        <div class="subbox">
            <%= link_to trunc(cmt.pretty_title, 40).try(:html_safe), listing_post_url(c.politician.id, cmt.id) %>
            <br/>
            <small>
              by <%= cmt.user.nil? ? cmt.username_display : link_to(cmt.username_display, users_profile_path(cmt.user.id)) %>
              <br/>
              <a href="<%= listing_post_url(c.politician.id, cmt.id) %>" title="<%= pluralize cmt.children.count, "comment" %>">
                <span class="glyphicon glyphicon-comment"></span> <%= cmt.children.count %>
              </a>
              <div class="fb-share-button" data-href="<%= listing_post_url(c.politician.id, cmt.id) %>" data-type="icon" title="Post on Facebook"></div>
            </small>
        </div>
      </div>

      <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if !@top_comments.blank? %>

  <h3 class="tab-header"><i class="fa fa-flag"></i> Popular</h3>
  <div class="row tab-content">
  <% @top_comments.each do |cmt| %>

    <div id="cmt_<%= cmt.id %>" class="col-md-3 col-sm-6 post-box">
      <div href="<%= listing_post_url(cmt.commentable.politician.id, cmt.id) %>" <%= cmt.style_defaults('post-box-img').try(:html_safe) %>>
        <%= render partial: "listing/votes", locals: { cmt: cmt } %>
      </div>
      <ol class="breadcrumb">
        <li><a href="<%= listing_path(cmt.commentable.politician.id) %>"><%= cmt.commentable.politician_display.titleize %></a></li>
        <li><%= cmt.commentable.title.titleize %></li>
        <% unless cmt.commentable.location.name.upcase == 'NATIONWIDE' %>
        <li><%= cmt.commentable.location.denorm_name.titleize %></li>
        <% end %>
      </ol>

      <div class="subbox">
          <%= link_to trunc(cmt.pretty_title, 40).try(:html_safe), listing_post_url(cmt.commentable.politician.id, cmt.id) %>
          <br/>
          <small>
            by <%= cmt.user.nil? ? cmt.username_display : link_to(cmt.username_display, users_profile_path(cmt.user.id)) %>
            <br/>
            <a href="<%= listing_post_url(cmt.commentable.politician.id, cmt.id) %>" title="<%= pluralize cmt.children.count, "comment" %>">
              <span class="glyphicon glyphicon-comment"></span> <%= cmt.children.count %>
            </a>
            <div class="fb-share-button" data-href="<%= listing_post_url(cmt.commentable.politician.id, cmt.id) %>" data-type="icon" title="Post on Facebook"></div>
          </small>
      </div>

    </div>
  <% end %>
  </div>
<% end %>

</div>
