<%# Home page %>

<%= title "Home" %>

<%
=begin
%>
<% content_for :topbody do %>
<div style="width: 960px; margin: 0 auto; height: 450px; background: #000 url('<%= image_path('luneta.jpg')%>') no-repeat 0px -250px;">
  <%# image_tag('luneta.jpg', {style: "width: 960px; position: absolute; z-index: -1; "}) %>
  <div style="margin: 0; padding: 100px 0 0 150px; color: #FFF; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); text-transform: uppercase; font-family: passion_oneregular; font-size: 40px; ">
    <%= Rails.application.config.site_name %>
  </div>

  <%= link_to("Find out about politicians in your location >", listing_index_path,{ style: "padding-left: 150px; color: #aaa;"}) %>
</div>
<% end %>

<% unless @pol_in_location.empty? %>
<div class="pretty_box controversial">
  <div class="title">In Your Location</div>
  <div class="body">
    <% @pol_in_location.each do |c| %>
    <a class="one_line" href="<%= listing_path(c.politician.id) %>">
      <div class="politician">
        <%= c.politician_display.titleize %> (<%= c.title.titleize %>)
      </div>
      <div class="num_comments">
        <%= pluralize c.num_comments, "comment" %>
      </div>
    </a>
    <% end %>
  </div>
</div>
<%end %>
<%
=end
%>

<% if !@top_comments.blank? %>

  <h2 class="page-header">Recommended Posts</h2>
  <div class="row">
  <% @top_comments.each do |cmt| %>

<%
=begin %>
    <div class="row" style="margin: 20px 0;">
      <div class="col-md-2">
        <% if !cmt.pol_image.nil? %> <%= cl_image_tag cmt.pol_image.file_url(:medium) %> <% end %>
        <% if !cmt.external_link.blank? && !cmt.external_link.image_url.blank? %> <img src="<%= cmt.external_link.image_url %>" class="img-responsive" /> <% end %>
      </div>
      <div class="col-md-9">

        <ol class="breadcrumb">
          <li><a href="<%= listing_path(cmt.commentable.politician.id) %>"><%= cmt.commentable.politician_display.titleize %></a></li>
          <li><%= cmt.commentable.title.titleize %></li>
          <% unless cmt.commentable.location.name.upcase == 'NATIONWIDE' %>
          <li><%= cmt.commentable.location.denorm_name.titleize %></li>
          <% end %>
        </ol>

        <% if cmt.external_link.blank? %>
          <h3><%= cmt.comment.try(:html_safe)%></h3>
        <% else %>
          <h3>
            <%= cmt.external_link.title.try(:html_safe) %>
            <br/><a class='small' href='<%= cmt.external_link.link_url %>'><%= cmt.external_link.link_url %></a>
          </h3>

          <p><%= cmt.external_link.description.try(:html_safe) %></p>
        <% end %>


        <h6 style="margin:2em 0 0 0;"> Posted by <%= cmt.user.nil? ? cmt.username_display : link_to(cmt.username_display, users_profile_path(cmt.user.id)) %>
          <span class="badge"><%= cmt.user.cached_score if !cmt.user.nil? %></span>
          <br/><small><%= cmt.created_at_pretty %></small>
        </h6><br/>

        <a href="<%= listing_path(cmt.commentable.politician.id) %>">
          <span class="glyphicon glyphicon-comment"></span>
          <%= pluralize cmt.children.count, "comment" %>
        </a>

      </div>

      <div class="col-md-1">
        <%= render partial: "listing/votes", locals: { cmt: cmt } %>
      </div>
    </div>
<%
=end %>

    <div id="cmt_<%= cmt.id %>" class="col-md-3 col-sm-6 post-box">
      <div class="post-box-img" href="<%= listing_post_url(cmt.commentable.politician.id, cmt.id) %>" style="background-image: url('<%= !cmt.pol_image.nil? ? cmt.pol_image.file_url(:medium) : ((!cmt.external_link.blank? && !cmt.external_link.image_url.blank?) ? cmt.external_link.image_url : ""  ) %>');">
        <%= render partial: "listing/votes", locals: { cmt: cmt } %>
      </div>
      <ol class="breadcrumb">
        <li><a href="<%= listing_path(cmt.commentable.politician.id) %>"><%= cmt.commentable.politician_display.titleize %></a></li>
        <li><%= cmt.commentable.title.titleize %></li>
        <% unless cmt.commentable.location.name.upcase == 'NATIONWIDE' %>
        <li><%= cmt.commentable.location.denorm_name.titleize %></li>
        <% end %>
      </ol>

      <div class="subbox">
          <%= link_to trunc(cmt.pretty_title, 40).try(:html_safe), listing_post_url(cmt.commentable.politician.id, cmt.id) %>
          <br/>
          <small>
            by <%= cmt.user.nil? ? cmt.username_display : link_to(cmt.username_display, users_profile_path(cmt.user.id)) %>
            <br/>
            <a href="<%= listing_post_url(cmt.commentable.politician.id, cmt.id) %>" title="<%= pluralize cmt.children.count, "comment" %>">
              <span class="glyphicon glyphicon-comment"></span> <%= cmt.children.count %>
            </a>
            <div class="fb-share-button" data-href="<%= listing_post_url(cmt.commentable.politician.id, cmt.id) %>" data-type="icon" title="Post on Facebook"></div>
          </small>
      </div>

    </div>
  <% end %>
  </div>
<% end %>

<%
=begin
%>
<% if !@active_users.blank? %>
<div class="pretty_box">
  <div class="title">Most Active Users</div>
  <div class="body">
    <% @active_users.each do |u| %>
    <a class="one_line" href="<%= users_profile_path(u.id) %>">
      <div class="avatar"><%= image_tag( u.avatar? ? u.avatar : "empty_avatar.png", title: "Profile Pic", alt: u.first_name, width: "24px") %></div>
      <%= u.first_name %> (<%= u.cached_score %>)

      <div class="num_comments">
        <%= pluralize u.num_comments, "comment" %>
      </div>
    </a>
    <% end %>
  </div>
</div>
<% end %>

<% if !@controversial.blank? %>
<div class="pretty_box controversial">
  <div class="title">Controversial</div>
  <div class="body">
    <% @controversial.each do |c| %>
    <a class="one_line" href="<%= listing_path(c.politician.id) %>">
      <div class="politician">
        <%= c.politician_display.titleize %> (<%= c.title.titleize %>)
      </div>
      <div class="num_comments">
        <%= pluralize c.num_comments, "comment" %>
      </div>
    </a>
    <% end %>
  </div>
</div>
<% end %>

<div style="clear: both;"></div>

<%
=end
%>