<%# Home page %>

<%= title "Home" %>

<% content_for :topbody do %>
<div style="width: 960px; margin: 0 auto; height: 450px; background: #000 url('<%= image_path('luneta.jpg')%>') no-repeat 0px -250px;">
  <%# image_tag('luneta.jpg', {style: "width: 960px; position: absolute; z-index: -1; "}) %>
  <div style="margin: 0; padding: 100px 0 0 150px; color: #FFF; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); text-transform: uppercase; font-family: passion_oneregular; font-size: 40px; ">
    <%= Rails.application.config.site_name %>
  </div>

  <%= link_to("Find out about politicians in your location >", listing_index_path,{ style: "padding-left: 150px; color: #aaa;"}) %>
</div>
<% end %>

<% if !@top_comments.blank? %>
<div class="pretty_box top_comments">
  <div class="title">Top Comments</div>
  <div class="body">
    <% @top_comments.each do |cmt| %>
    <a class="one_line" href="<%= listing_path(cmt.commentable.politician.id) %>">
      <div class="politician">
        <%= cmt.commentable.politician_display.titleize %> (<%= cmt.commentable.title.titleize %> - <%= cmt.commentable.location.denorm_name.titleize %>)
      </div>

      <div class="user">
        <%= cmt.username_display %>
        <span class="date"> <%= cmt.created_at_pretty %> </span>
      </div>
      <div class="comment">
        <div class="votes"> <%= cmt.cached_votes_score %> </div>
        <%= cmt.comment.html_safe %>
      </div>
      <div style="clear: left;"></div>
    </a>
    <% end %>
  </div>
</div>
<% end %>

<% if !@active_users.blank? %>
<div class="pretty_box">
  <div class="title">Most Active Users</div>
  <div class="body">
    <% @active_users.each do |u| %>
    <a class="one_line" href="<%= users_profile_path(u.id) %>">
      <div class="avatar"><%= image_tag( u.avatar? ? u.avatar : "empty_avatar.png", title: "Profile Pic", alt: u.first_name, width: "24px") %></div>
      <%= u.first_name %> (<%= u.cached_score %>)

      <div class="num_comments">
        <%= pluralize u.num_comments, "comment" %>
      </div>
    </a>
    <% end %>
  </div>
</div>
<% end %>

<% if !@controversial.blank? %>
<div class="pretty_box controversial">
  <div class="title">Controversial</div>
  <div class="body">
    <% @controversial.each do |c| %>
    <a class="one_line" href="<%= listing_path(c.politician.id) %>">
      <div class="politician">
        <%= c.politician_display.titleize %> (<%= c.title.titleize %>)
      </div>
      <div class="num_comments">
        <%= pluralize c.num_comments, "comment" %>
      </div>
    </a>
    <% end %>
  </div>
</div>
<% end %>

<div style="clear: both;"></div>