<%# Home page %>

<%= title "Politikahan" %>


<div class="top_comments">
  <div class="title">Top Comments</div>
  <% @top_comments.each do |cmt| %>
  <div class="one_comment">
    <div class="politician">
      <%= cmt.commentable.politician_display %> (<%= cmt.commentable.title %>)
    </div>

    <div class="user">
      <%= cmt.username_display %>
      <span class="date"> <%= cmt.created_at %> </span>
    </div>
    <div class="comment"> <%= cmt.comment %> </div>
    <div class="votes"> <%= pluralize cmt.cached_votes_score, "vote" %> </div>
    <div class="details"> <%= link_to "details", listing_path(cmt.commentable.politician.id) %> </div>

  </div>
  <% end %>
</div>


<div class="controversial">
  <div class="title">Controversial</div>
  <% @controversial.each do |c| %>
  <div class="politician">
    <%= c.politician_display %> (<%= c.title %>)
  </div>
  <div class="num_comments">
    <%= pluralize c.num_comments, "comment" %>
  </div>
  <div class="details"> <%= link_to "details", listing_path(c.politician.id) %> </div>
  <% end %>
</div>