<%# Home page %>

<%= title "Home" %>


<div class="pretty_box top_comments">
  <div class="title">Top Comments</div>
  <div class="body">
    <% @top_comments.each do |cmt| %>
    <a class="one_line" href="<%= listing_path(cmt.commentable.politician.id) %>">
      <div class="politician">
        <%= cmt.commentable.politician_display.titleize %> (<%= cmt.commentable.title.titleize %> - <%= cmt.commentable.location.denorm_name.titleize %>)
      </div>

      <div class="user">
        <%= cmt.username_display %>
        <span class="date"> <%= cmt.created_at_pretty %> </span>
      </div>
      <div class="comment">
        <div class="votes"> <%= cmt.cached_votes_score %> </div>
        <%= cmt.comment.html_safe %>
      </div>
      <div style="clear: left;"></div>
    </a>
    <% end %>
  </div>
</div>


<div class="pretty_box">
  <div class="title">Most Active Users</div>
  <div class="body">
    <% @active_users.each do |u| %>
    <a class="one_line" href="<%= users_profile_path(u.id) %>">
      <div class="avatar"><%= image_tag( u.avatar? ? u.avatar : "empty_avatar.png", title: "Profile Pic", alt: u.first_name, width: "24px") %></div>
      <%= u.first_name %> (<%= u.cached_score %>)

      <div class="num_comments">
        <%= pluralize u.num_comments, "comment" %>
      </div>
    </a>
    <% end %>
  </div>
</div>

<div class="pretty_box controversial">
  <div class="title">Controversial</div>
  <div class="body">
    <% @controversial.each do |c| %>
    <a class="one_line" href="<%= listing_path(c.politician.id) %>">
      <div class="politician">
        <%= c.politician_display.titleize %> (<%= c.title.titleize %>)
      </div>
      <div class="num_comments">
        <%= pluralize c.num_comments, "comment" %>
      </div>
    </a>
    <% end %>
  </div>
</div>

<div style="clear: both;"></div>