<%# Home page %>

<%= title "Home" %>


<div class="pretty_box top_comments">
  <div class="title">Top Comments</div>
  <div class="body">
    <% @top_comments.each do |cmt| %>
    <a class="one_line" href="<%= listing_path(cmt.commentable.politician.id) %>">
      <div class="politician">
        <%= cmt.commentable.politician_display.titleize %> (<%= cmt.commentable.title.titleize %> - <%= cmt.commentable.location.denorm_name.titleize %>)
      </div>

      <div class="user">
        <%= cmt.username_display %>
        <span class="date"> <%= cmt.created_at %> </span>
      </div>
      <div class="comment">
        <div class="votes"> <%= cmt.cached_votes_score %> </div>
        <%= cmt.comment %>
      </div>
      <div style="clear: left;"></div>
    </a>
    <% end %>
  </div>
</div>


<div class="pretty_box controversial">
  <div class="title">Controversial</div>
  <div class="body">
    <% @controversial.each do |c| %>
    <a class="one_line" href="<%= listing_path(c.politician.id) %>">
      <div class="politician">
        <%= c.politician_display.titleize %> (<%= c.title.titleize %>)
      </div>
      <div class="num_comments">
        <%= pluralize c.num_comments, "comment" %>
      </div>
    </a>
    <% end %>
  </div>
</div>

<div style="clear: both;"></div>