<!DOCTYPE html>
<html>
<head>
  <title><%= Rails.application.config.site_name + (content_for(:title).nil? ? "" : (" - " + content_for(:title))) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" href="<%= asset_path "favicon.ico" %>" >
</head>
<body>
<%# Facebook JS SDK %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= Rails.application.config.facebook_app_id %>";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%#-- Logo and Menu bar ----------------------------%>
<div id="topbar">
  <div id="inner_topbar">
    <div class="logo">
      <%= link_to Rails.application.config.site_name, "/" %>
    </div>
    <ul id="nav_menu">

    <%# user is logged in, show log out link %>
      <% if current_user.present? %>
        <li>

          <a href="#">
            <%= image_tag "icon_user.png" %>
            <br/>
            Profile
          </a>

          <ul class="sub cmd_list" style="width: 220px; top: 15px; left: -80px;">
            <li>
              <div class="profile">
                <div class="avatar"><%= current_user.avatar? ? cl_image_tag(current_user.avatar, title: "Profile Pic", alt: current_user.email, width: "64px") : image_tag("empty_avatar.png", title: "Profile Pic") %></div>
                <%= current_user.first_name %> <br/>
                <%= current_user.email %> <br/>
                <%= link_to "edit profile", edit_users_profile_path(current_user) %>
                <div style="clear: left;"></div>
              </div>
            </li>
            <li>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            </li>
            <li>
              <%= link_to "Cancel my account", registration_path(:user), data: { confirm:  "Are you sure?" }, method: :delete %>
            </li>
          </ul>

        </li>

      <%# user is not logged in, show signup and login links %>
      <% else %>
        <li>
          <a href="<%= new_user_session_path %>">
            <%= image_tag("icon_check.png", title: "Sign In") %> <br/>
            Sign In
          </a>

            <ul class="sub" style="width: 220px; top: 15px; left: -80px;">
              <li>
                <div class="mini_div_form">
                  <%= form_for("user", :url => user_session_path) do |f| %>
                    <%= f.label :email, "Email" %>
                    <%= f.text_field :email %>

                    <%= f.label :password, "Password" %>
                    <%= f.password_field :password %>

                    <br/>
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me, style: "display: inline;" %>

                    <br/>
                    <%= f.submit 'Sign in' %>
                    <%= link_to "Forgot your password?", new_password_path('user'), "data-no-turbolink" => true %>
                  <% end %>
                </div>

                <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), "data-no-turbolink" => true %>
              </li>
            </ul>
        </li>
        <li>
          <%= link_to new_user_registration_path, "data-no-turbolink" => true do %>
            <%= image_tag("icon_user.png", title: "Register") %> <br/>Register
          <% end %>
        </li>
      <% end %>
      <li>
        <a href="<%= root_path %>">
          <%= image_tag("icon_home.png", title: "Home") %> <br/>
          Home
        </a>
      </li>
      <li>
        <a href="<%= listing_index_path %>">
          <%= image_tag("icon_search.png", title: "Browse") %> <br/>
          Browse
        </a>
      </li>
    </ul>

    <div style="clear: both;"></div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function () {
    var tmr = false;
    $("#nav_menu li").mouseenter(function(){
      $(".sub", this).show();
      $("a:first", this).addClass("highlight");
      clearTimeout(tmr);
    }).mouseleave(function() {
      $("a:first", this).removeClass("highlight");

      var that = this;
      tmr = setTimeout(function(){
        $(".sub", that).hide();
      },500);
    });
  });
</script>

<div id="flash">
  <% if notice %>
    <script type="text/javascript"> showFlash("<%= escape_javascript(notice)%>"); </script>
  <% end %>
  <% if alert %>
  <div class="flash_alert"><%= alert %></div>
  <% end %>
</div>

<div id="page_title">
  <h1><%= content_for(:title) %></h1>
</div>

<div id="topbody"><%= yield :topbody %></div>

<div id="mainbody">
  <%= yield %>
</div>

<div id="mainfooter">
</div>

</body>
</html>
